body {
	text-align:center;
	font-family:'Permanent Marker', sans-serif;
	background-color:#CBE6A3;
}

#map {
        height: 100%;
    }

.placeName {
	font-size:1.5em;
	text-decoration: underline;
   }

.latlong {
	font-size:1em;
}

#placesearch {
	margin:0 auto;
	max-width:100px;
	margin-bottom:2em;
}

footer {
	text-align: center;
}

