body {
	text-align:center;
	background-image:url(../BWimage.jpg);
	box-sizing:border-box;
}

.title {
	font-family:'Pacifico', sans-serif;
	font-size:36pt;
}

#instructions {
	font-family:'Slabo 27px', sans-serif;
	font-size:1.5em;
}

h2{
	font-family:'Pacifico', sans-serif;
}

h4{
	font-family:'Slabo 27px', sans-serif;
}

#map {
        height: 100%;
        height: 400px; 
        width: 75%;
        float:left;
        border: 3px solid black;
    }

.placeName {
	font-size:1.5em;
	text-decoration: underline;
   }

.latlong {
	font-size:1em;
}

#placesearch {
	margin:0 auto;
	width:200px;
	height:40px;
	line-height: 1.6;
	font-size:18pt;
	font-family: 'Slabo 27px', sans-serif;
	border:2px solid black;
	margin-bottom:2em;
}

#placesearch:focus{
	border: 2px solid #F7584C;
}

#citysearch{
	border-radius:5px;
	height:30px;
	width:55px;
	font-family: 'Slabo 27px', sans-serif;
	font-size: 11pt;
}

#citysearch:hover{
	cursor: pointer;
	background-color:#F7584C;
}

footer {
	text-align: center;
	width:100%;
	float:left;
}
/*
.headerwrapper{
	background-color: white;
	opacity:.6;
	width:50%;
	margin:0 auto;
}*/


.museumBox, .galleryBox, .PublicArtbox {
	text-align: center;
	display:block;
	width:100%;
	float:right;
	background-color: white;
}

.wrapper{
	float:right;
	width:22%;
	max-height:400px;
	overflow-y:scroll;

}

@media only screen and (max-width: 900px){
	#map {
		width:80%;
		margin:0 auto;
		vertical-align: center;
	}

	.wrapper {
		width:100%;
		overflow-y:visible;
		max-height:none;
	}

}